:root{
    --pri-color: rgb(221, 166, 58);
    /* --color-dark: rgba(39, 39, 85, 0.808); */

}

html{
    font: 400 62.5% 'Roboto', sans-serif;
}

p,
a,
h4,
blockquote{
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: .1rem;
}

h2{
    font-size: 6rem;
}

h3{
    font-size: 3.2rem;
    letter-spacing: .1rem;
}



/*formatando as divs definidas como containes de cores */
.Container-dark{
    /* background-color: var(--color-dark);
    color:#fafafa; */
    margin-top:0;
    color: var(--pri-color);
}

.contener-dark{
    background-color: rgba(32, 31, 31, 0.781);
}

.background-light{
    /* background-image: linear-gradient(to bottom right,rgb(247, 243, 225),var(--pri-color)); */
    margin-top:0;
    background-image: linear-gradient(to bottom right,rgb(250, 236, 176),var(--pri-color));
}

.Container-superlight{
    margin-top:0;
    background-color: #fafafa;
}


.Container-fixed{
    position: sticky;
    top:0;
    width: 100%;
}

.Container-pad{
    padding: 12rem;
}

/* Centralizando conteúdo através das divs containers*/
.container{
    margin: auto;
    max-width: 60%;
    text-align: center;
}

.container-cards{
    margin: auto;
    max-width: 80%;
    text-align: center;
}

.btn{
    display: inline-block;
    margin-left: 5rem;
    background-color: #fafafa;
    text-decoration: none;
    color: var(--pri-color);
    padding: .75em 1.15em;
    border: solid 1px var(--pri-color);
    text-transform:uppercase;
}

.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--pri-color);
    border-top: 1px solid var(--pri-color);
    background-color: #fafafa;
    box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.138);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.276);
}

.top-nav a{
    color: var(--pri-color);
    text-decoration: none;
    padding: .75em 1.15em;
    border: solid 1px;
    margin-right: 1rem;
}
.top-nav a:hover{
    background-color:var(--pri-color);
    color:  #fafafa;
}
.top-nav__list{
    display: flex;
    list-style-type: none;
    gap: 0.6rem;
}

.Container-banner{
   background-image: linear-gradient(rgb(221, 203, 122),var(--pri-color));
   border-radius: 5px;
   box-shadow: 0 .3rem .3rem rgba(0, 0, 0, 0.138);
   margin:0;
   
}

.banner{
    display:flex;
    justify-content: space-between;

}

.banner-left__title{

    color:  #fafafa;
    padding: 0 6rem 6rem;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.276);

}

.container-flex{
    /* max-width: 60%; */
    display:flex;
    gap: 1.6rem;
    /* margin: 0 9rem; */

}

.about{

    text-align: center;
    font-size: 0.8rem;
    max-width: 60%;
    padding: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 6px;

}

.about iframe{
    border: 2px solid var(--pri-color);
    border-radius: 6px;
    box-shadow: .8rem .8rem .5rem rgba(0, 0, 0, 0.349);
    height: 16rem;
    width: 20rem;
    display: inline-block;
    gap: 10rem;
}

.tgt{
    /* margin-top:2rem; */
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.cards{
    display:flex;
    flex-wrap: wrap;
    margin-top: 0;
    gap: .5rem;
    /* padding: 10rem; */
    width: 100%;
    border-radius: 5px;
}

.cards-content{
    background-color: #fafafad8;
    flex-basis: 20rem; /*determina o tamanho para as imagens*/
    /* flex-grow: 1; determina queo conteúdo iserá distribui do dentro do epaço */
    text-align: left;
    gap: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: .8rem .8rem .5rem rgba(0, 0, 0, 0.349);   
}

.cards-content p{
    font-size: 1.4rem;
    margin: 1rem;
}

.cards-content img{
    width: 100%; /*determina que o tamnho é 100% do elemento pai, neste caso, se a
                    imagem é maior que o disponível acima, ela será ajustada para menos*/
    height:16rem;
    display:block;
    border-radius: 5px;
}


.dados{
    /* background-image: linear-gradient(white,rgb(223, 219, 219)); */
    margin-top:0;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.dados img{
    height:20rem;
    display:block;
    /* border: 2px solid var(--pri-color); */
    border-radius: 5px;
    margin-top: 5rem;
}


.footer_container{
    display:flex;
    flex-wrap:wrap;
    padding: 10rem;
}

.footer{
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 0;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.footer p:first-child{
    font-weight:bold;
}

.footer a{
    text-decoration: none;
    color: inherit;
}

.footer-center img{
    border-radius: 50%;
    height: 10rem;
    width: auto;
}
